---
import { Image } from "astro:assets";
import GDSCWebsite from "./ExistingProjects/GDSCWebsite.astro";
import AccredCerti from "./ExistingProjects/AccredCerti.astro";
import OJTFinder from "./ExistingProjects/OJTFinder.astro";
---

<div
    class="h-full flex w-full justify-center items-center dark:bg-gray-900 p-2">
    <div
        class="max-w-screen-xl mx-auto px-14 sm:px-12 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 p-4 md:p-2 xl:p-5">
        <GDSCWebsite />
        <AccredCerti />
        <OJTFinder />
    </div>
</div>
