---
import { Image } from "astro:assets";
import Logo from "../../assets/gdsclogo.svg";
import gdscImg from "../../assets/emman.png";
import landingimg from "../../assets/landing/landingimage.jpg";
---

<section class="py-40 bg-gray-100">
	<div
		class="max-w-7xl mx-auto px-14 sm:px-32 lg:px-14 grid grid-cols-1 lg:grid-cols-2 items-center gap-40"
	>
		<div>
			<Image
				src={Logo}
				alt="GDSC Logo"
				class="w-32 lg:16 h-auto mx-auto lg:mx-0"
			/>

			<h2
				class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6"
			>
				We are Google Developer Student Clubs UE Caloocan.
			</h2>
			<p class="text-lg sm:text-xl leading-relaxed mb-4">
				Welcome to Google Developer Student Clubs UE Caloocan! We're a dynamic
				student tech organization dedicated to fostering both personal and
				product development.
			</p>

			<p class="text-lg sm:text-xl leading-relaxed">
				Our mission is to empower students by providing a supportive
				peer-to-peer learning environment where they can enhance their skills
				and expand their networks.
			</p>
		</div>

		<div>
			<Image
				src={landingimg}
				alt="GDSC member picture"
				class="w-100 h-auto rounded-md"
			/>
		</div>
	</div>
</section>
