---
import { Image } from "astro:assets";
import landingimg from "../../assets/landing/landingimage.jpg";
---

<section class="py-36 bg-white dark:bg-gray-900">
  <div
    class="max-w-screen-xl mx-auto px-8 sm:px-8 lg:gap-16 grid grid-cols-1 lg:grid-cols-2 items-center gap-8">
    <div class="mt-4 md:mt-0">
      <h2
        class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 text-gray-900 dark:text-white">
        We are Google Developer Student Clubs UE Caloocan.
      </h2>

      <p class="text-lg sm:text-xl leading-relaxed mb-4 dark:text-gray-400">
        Welcome to Google Developer Student Clubs UE Caloocan! We're a dynamic
        student tech organization dedicated to fostering both personal and
        product development.
      </p>

      <p class="text-lg sm:text-xl leading-relaxed dark:text-gray-400">
        Our mission is to empower students by providing a supportive
        peer-to-peer learning environment where they can enhance their skills
        and expand their networks.
      </p>
    </div>

    <Image src={landingimg} alt="Speaking" class="w-auto h-auto rounded-md" />
  </div>
</section>
