<section class="py-40">
	<div
		class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 py-16 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 dark:bg-gray-800 dark:text-gray-100"
	>
		<div class="flex flex-col justify-between">
			<div class="space-y-2">
				<h2 class="text-4xl font-bold leading-tight">
					Want to collaborate with us?
				</h2>
				<h2 class="text-3xl font-bold leading-tight">Let's work together!</h2>
			</div>
		</div>
		<form novalidate="" class="space-y-6 ng-untouched ng-pristine ng-valid">
			<div>
				<label for="email" class="text-sm">Email</label>
				<input
					id="email"
					type="email"
					placeholder="warrior@gmail.com"
					class="w-full p-3 rounded dark:bg-gray-800 border-2"
				/>
			</div>
			<div>
				<label for="name" class="text-sm">Subject</label>
				<input
					id="name"
					type="text"
					placeholder="Juan Dela Cruz"
					class="w-full p-3 rounded dark:bg-gray-800 border-2"
				/>
			</div>

			<div>
				<label for="message" class="text-sm">Message</label>
				<textarea
					id="message"
					rows="3"
					placeholder="Write us something!"
					class="w-full p-3 rounded dark:bg-gray-800 border-2"
					spellcheck="false"></textarea>
			</div>
			<a
				href="#_"
				class="place-content-center relative items-center justify-center inline-block p-4 px-5 py-3 overflow-hidden font-medium rounded-lg shadow-2xl group active:font-thin"
			>
				<span
					class="absolute top-0 left-0 w-40 h-40 -mt-10 -ml-3 transition-all duration-700 bg-primary-purple-500 blur ease"
				>
				</span>
				<span
					class="absolute inset-0 w-full h-full transition duration-700 group-hover:rotate-180 ease"
				>
					<span
						class="absolute bottom-0 left-0 w-24 h-24 -ml-10 bg-fuchsia-700 rounded-full blur"
					></span>
					<span
						class="absolute bottom-0 right-0 w-24 h-24 -mr-10 bg-fuchsia-800 rounded-full blur"
					></span>
				</span>
				<span class="relative text-white">Submit</span>
			</a>
		</form>
	</div>
</section>
