---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

const posts = (await getCollection("events")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-16 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Previous Events</h2>

      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {posts.map((post) => (
          <div class="group relative drop-shadow-xl">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-violet-900 lg:aspect-none group-hover:opacity-50 lg:h-100">
              <Image
              src={post.data.heroImage}
              alt="Blue Pyramid Figure"
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full"
              />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-900">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {post.data.title}
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </div>
          </div> 
        ))}
      </div>      
    </div>
  </div>