---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

const posts = (await getCollection("events")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const recentPosts = posts.slice(0, 4);
---

<div class="bg-[url(/events.jpg)] bg-cover bg-center bg-no-repeat bg-local" id="home-events">
    <div class="mx-auto max-w-2xl px-16 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      
      <h2 class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-12">Events</h2>

      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {recentPosts.map((post) => (
          <div class="group relative drop-shadow-xl">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-violet-900 lg:aspect-none group-hover:opacity-75 lg:h-100">
              <Image
              src={post.data.heroImage}
              alt="Blue Pyramid Figure"
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full"
              />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-md font-semibold text-gray-900">
                  <a href={`/events/${post.slug}/`}>
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {post.data.title}
                  </a>
                </h3>
                <p class="mt-1 text-md text-gray-500">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </div>
          </div> 
        ))}
      </div>   

      <div class="flex justify-end py-12">
        <a href="/events" class="flex items-center justify-center px-6 text-md bg-purple-900 py-2 text-white text-base font-medium rounded shadow-sm hover:bg-purple-950 transition-all">
          See more...          
        </a>
      </div>

    </div>
  </div>
