---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
const posts = (await getCollection("events")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const featuredPost = posts[0];
---

<section class="py-24">
    <div class="flex flex-col mx-auto max-w-5xl p-8 justify-center items-center">
        <h1 class="text-3xl md:text-5xl text-center font-bold mb-16">Featured Events</h1>
        <div class="flex flex-row justify-center h-96 items-center p-8 gap-12">
            <Image
                src={featuredPost.data.heroImage}
                alt="Blue Pyramid Figure"
                class="h-full w-full rounded-3xl shadow-md object-cover object-center"
            />
            <div>
                <h2 class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6">
                    {featuredPost.data.title}
                </h2>
                <p class="mt-1 text-sm text-gray-500">
                    <FormattedDate date={featuredPost.data.pubDate} />
                </p>
            </div>
        </div>
    </div>
</section>