---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Button from "../Button.astro";

const posts = (await getCollection("events")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const featuredPost = posts[0];
---

<section
  class="py-24 bg-white dark:bg-gray-900 flex items-center h-screen"
  id="featured-event">
  <div class="flex flex-col mx-auto max-w-5xl p-8 justify-center items-center">
    <h1
      class="text-3xl md:text-5xl text-center font-bold mb-16 dark:text-white">
      Featured Events
    </h1>

    <div
      class="flex flex-col lg:flex-row justify-center rounded-3xl h-full items-center p-8 gap-12 bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
      <Image
        src={featuredPost.data.heroImage}
        alt="Blue Pyramid Figure"
        loading="eager"
        class="h-full w-80 rounded-3xl shadow-md object-cover object-center"
      />
      <div class="flex flex-col items-start md:justify-center">
        <h2
          class="lg:text-start font-bold text-2xl sm:text-4xl leading-none mb-5 md:mb-2 dark:text-white">
          {featuredPost.data.title}
        </h2>
        <p class="mt-1 text-lg text-left text-gray-500 mb-8 dark:text-gray-400">
          {featuredPost.body.slice(0, 200) + "..."}
        </p>
        <Button
          class="pb-2"
          asLink={true}
          href={`/events/${featuredPost.slug}/`}>
          Read more...
        </Button>
      </div>
    </div>
  </div>
</section>
