---
import { Image } from "astro:assets";
import ExecutiveBoard2023 from "./2023-2024/ExecutiveBoard2023.astro";
import OperationsDept2023 from "./2023-2024/OperationsDept2023.astro";
import TechnologyDept2023 from "./2023-2024/TechnologyDept2023.astro";
import CreativesDept2023 from "./2023-2024/CreativesDept2023.astro";
---

<section class="py-32 bg-white dark:bg-gray-900">
    <div class="py-8 px-8 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-8">
        <ExecutiveBoard2023 />
        <OperationsDept2023 />
        <TechnologyDept2023 />
        <CreativesDept2023 />
    </div>
</section>
