---

---

<section class="py-32">
	<div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center p-8">
            <h1 class="text-xl lg:text-[50px] font-bold mb-14">What is GDSC-UE Caloocan?</h1>
            <div class="bg-[#F8F4F4] lg:max-w-[1140px] p-8 rounded-3xl shadow-md shadow-black/25">
                <p class="text-md lg:text-2xl text-justify leading-relaxed">
                    Google Developer Student Clubs UE Caloocan is a student-led technology 
                    organization situated at the University of The East in Caloocan City. 
                    As a proud member of a global community, our mission is to empower diverse 
                    communities worldwide through the transformative power of technology.
                </p>
            </div>
        </div>
	</div>
</section>
