---
import { Image } from "astro:assets";
---

<section class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="max-w-7xl mx-auto px-8 md:px-24">
        <div class="mx-auto max-w-6xl md:text-center">
            <h2
                class="font-bold text-5xl leading-none sm:text-start mb-6 text-blue-600 dark:text-blue-500">
                Departments
            </h2>
        </div>
        <ul
            role="list"
            class="mx-auto mt-16 grid max-w-3xl grid-cols-1 gap-6 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-2 hover:text-red-600">
            <!-- Executive Board -->
            <li>
                <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
                    <li>
                        <figure
                            class="relative rounded-xl p-6 bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-compass text-gray-900 dark:text-gray-100 my-4"
                                ><circle cx="12" cy="12" r="10"
                                ></circle><polygon
                                    points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
                                ></polygon></svg
                            >

                            <h3
                                class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Executive Board
                            </h3>
                            <p
                                class="font-normal text-lg text-gray-700 dark:text-gray-400">
                                Oversees strategic direction and
                                decision-making, ensuring organizational goals
                                are met effectively and efficiently.
                            </p>
                        </figure>
                    </li>
                </ul>
            </li>
            <!-- Operations Department -->
            <li>
                <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
                    <li>
                        <figure
                            class="relative rounded-xl p-6 bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-list-checks text-gray-900 dark:text-gray-100 my-4"
                                ><path d="m3 17 2 2 4-4"></path><path
                                    d="m3 7 2 2 4-4"></path><path d="M13 6h8"
                                ></path><path d="M13 12h8"></path><path
                                    d="M13 18h8"></path></svg
                            >

                            <h3
                                class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Operations Department
                            </h3>
                            <p
                                class="font-normal text-lg text-gray-700 dark:text-gray-400">
                                Ensures seamless event execution and initiative
                                implementation, optimizing resources for
                                successful outcomes through meticulous planning.
                            </p>
                        </figure>
                    </li>
                </ul>
            </li>
            <!-- Technology Department -->
            <li>
                <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
                    <li>
                        <figure
                            class="relative rounded-xl p-6 bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-lightbulb text-gray-900 dark:text-gray-100 my-4"
                                ><path
                                    d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"
                                ></path><path d="M9 18h6"></path><path
                                    d="M10 22h4"></path></svg
                            >

                            <h3
                                class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Technology Department
                            </h3>
                            <p
                                class="font-normal text-lg text-gray-700 dark:text-gray-400">
                                Empowers members through educational materials
                                and workshops, fostering innovation and
                                technical expertise within the community.
                            </p>
                        </figure>
                    </li>
                </ul>
            </li>
            <!-- Creatives Department -->
            <li>
                <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
                    <li>
                        <figure
                            class="relative rounded-xl p-6 bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-paintbrush text-gray-900 dark:text-gray-100 my-4"
                                ><path
                                    d="M18.37 2.63 14 7l-1.59-1.59a2 2 0 0 0-2.82 0L8 7l9 9 1.59-1.59a2 2 0 0 0 0-2.82L17 10l4.37-4.37a2.12 2.12 0 1 0-3-3Z"
                                ></path><path
                                    d="M9 8c-2 3-4 3.5-7 4l8 10c2-1 6-5 6-7"
                                ></path><path d="M14.5 17.5 4.5 15"></path></svg
                            >

                            <h3
                                class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
                                Creatives Department
                            </h3>
                            <p
                                class="font-normal text-lg text-gray-700 dark:text-gray-400">
                                Plans and implements engaging marketing and
                                communication strategies, enhancing the
                                organization's brand presence and community.
                            </p>
                        </figure>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
