---
import { Image } from "astro:assets";
---

<section class="py-14">
	<div class="flex flex-col">
        <div class="flex flex-col justify-center items-center p-8">

            <h1
				class="text-center lg:text-start font-bold text-3xl sm:text-4xl leading-none"
			>
				To Grow and To <h1 class="text-5xl mb-6 text-center font-bold from-red-600 via-pink-blue to-violet-600 bg-gradient-to-r bg-clip-text text-transparent">
                    Igma Kadima
                </h1>
            </h1>        

            <div class="mx-auto max-w-2xl px-6 py-6 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
                <p class="text-lg md:text-3xl leading-relaxed mb-4">
                    Google Developer Student Clubs UE Caloocan is a student-led technology 
                    organization situated at the University of The East in Caloocan City. 
                    As a proud member of a global community, our mission is to empower diverse 
                    communities worldwide through the transformative power of technology.
                </p>
            </div>
            
        </div>
	</div>
</section>