

<section class="px-8 md:px-24">
    <div class="flex flex-col md:flex-row gap-8 py-32">
        <div class="bg-gray-300 max-w-[530px] md:min-w-[530px] h-[350px]">
            Image
        </div>
        <div class="w-full md:w-3/4">
            <h1 class="mb-6 text-3xl md:text-5xl tracking-tight font-extrabold text-[#E3422E]">Vision</h1>
            <p class="text-lg md:text-2xl">
                The organization envisions itself as a catalyst for creating an inclusive and 
                supportive environment that encourages personal and professional growth. 
                Through the power of technology and innovative solutions, we aim to uplift 
                communities, making a positive impact and addressing their needs.
            </p>
        </div>
    </div>
    <div class="max-w-screen-xl">
        <div class="max-w-screen-md text-left mb-8 lg:mb-12">
            <h1 class="text-3xl md:text-5xl tracking-tight font-extrabold text-[#792A87] mb-4">Mission</h1>
            <p class="text-lg md:text-2xl">The organization aims to do the ABC:</p>
        </div>
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <div class="flex flex-col p-6 mb-4 mx-auto max-w-sm text-center bg-[#7D78780D] rounded-3xl shadow-md shadow-black/25">
                <h1 class="text-2xl md:text-4xl font-bold mb-6 text-[#F6BC15]">Aspire</h1>
                <p class="text-lg md:text-2xl leading-relaxed">
                    Individuals to grow with the help of peer-to-peer learning
                </p>
            </div>
            <div class="flex flex-col p-6 mx-auto max-w-sm text-center bg-[#7D78780D] rounded-3xl shadow-md shadow-black/25">
                <h1 class="text-2xl md:text-4xl font-bold mb-6 text-[#47A94C]">Build</h1>
                <p class="text-lg md:text-2xl leading-relaxed">
                    Individuals to grow with the help of peer-to-peer learning
                </p>
            </div>
            <div class="flex flex-col p-6 mx-auto max-w-sm text-center bg-[#7D78780D] rounded-3xl shadow-md shadow-black/25">
                <h1 class="text-2xl md:text-4xl font-bold mb-6 text-[#438ECC]">Connect</h1>
                <p class="text-lg md:text-2xl leading-relaxed">
                    Individuals to grow with the help of peer-to-peer learning
                </p>
            </div>
        </div>
    </div>
  </section>