---
import { Image } from "astro:assets";
import Divider from "../../assets/divider.svg";
import Aspire from "../../assets/about/aspire.png";
import Build from "../../assets/about/build.png";
import Connect from "../../assets/about/connect.png";
---

<div class="lg:container-fluid lg:mx-auto">
  <Image src={Divider} alt="Divider" class="xl:w-screen" />
</div>

<section class="bg-white py-24 dark:bg-gray-900" id="about-mission">
  <div class="py-8 px-8 md:px-24 mx-auto max-w-7xl">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-5xl tracking-tight font-extrabold text-violet-600 dark:text-violet-600">
        Mission
      </h2>
      <p
        class="text-lg md:text-2xl sm:text-2xl leading-relaxed mb-4 dark:text-gray-400">
        The organization aims to do the ABC:
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <Image
            src={Aspire}
            alt="Divider"
            class="w-6 h-auto"
            loading="eager"
          />
        </div>
        <h3 class="mb-2 text-3xl font-bold text-[#F6BC15]">Aspire</h3>
        <p class="text-gray-500 text-lg dark:text-gray-400">
          Individuals to grow with the help of peer-to-peer learning through the
          community.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <Image src={Build} alt="Divider" class="w-8 h-auto" loading="eager" />
        </div>
        <h3 class="mb-2 text-3xl font-bold text-[#47A94C]">Build</h3>
        <p class="text-gray-500 text-lg dark:text-gray-400">
          Experience & meaningful technologies to empower communities.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <Image
            src={Connect}
            alt="Divider"
            class="w-10 h-auto"
            loading="eager"
          />
        </div>
        <h3 class="mb-2 text-3xl font-bold text-[#438ECC]">Connect</h3>
        <p class="text-gray-500 text-lg dark:text-gray-400">
          With people through the community and organizations to grow your
          network.
        </p>
      </div>
    </div>
  </div>
</section>
