---
import { Image } from "astro:assets";
import Divider from "../../assets/divider.svg";
import Aspire from "../../assets/about/aspire.png";
import Build from "../../assets/about/build.png";
import Connect from "../../assets/about/connect.png";
---

<div class="lg:container-fluid lg:mx-auto">
  <Image src={Divider} alt="Divider" class="xl:w-screen" />
</div>

<section class="bg-white py-24 dark:bg-gray-900" id="about-mission">
  <div class="py-8 px-8 md:px-24 mx-auto max-w-7xl">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-5xl tracking-tight font-extrabold text-violet-600 dark:text-violet-600">
        Mission
      </h2>
      <p
        class="text-lg md:text-2xl sm:text-2xl leading-relaxed mb-4 dark:text-gray-400">
        The organization aims to do the ABC:
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-sparkles text-yellow-500 dark:text-yellow-400"
            ><path
              d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
            ></path><path d="M5 3v4"></path><path d="M19 17v4"></path><path
              d="M3 5h4"></path><path d="M17 19h4"></path></svg
          >
        </div>
        <h3
          class="mb-2 text-3xl font-bold text-yellow-500 dark:text-yellow-400">
          Aspire
        </h3>
        <p
          class="text-lg md:text-xl sm:text-xl leading-relaxed dark:text-gray-400">
          Individuals to grow with the help of peer-to-peer learning through the
          community.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-hammer text-green-600 dark:text-green-500"
            ><path d="m15 12-8.373 8.373a1 1 0 1 1-3-3L12 9"></path><path
              d="m18 15 4-4"></path><path
              d="m21.5 11.5-1.914-1.914A2 2 0 0 1 19 8.172V7l-2.26-2.26a6 6 0 0 0-4.202-1.756L9 2.96l.92.82A6.18 6.18 0 0 1 12 8.4V10l2 2h1.172a2 2 0 0 1 1.414.586L18.5 14.5"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-3xl font-bold text-green-600 dark:text-green-500">
          Build
        </h3>
        <p
          class="text-lg md:text-xl sm:text-xl leading-relaxed dark:text-gray-400">
          Experience & meaningful technologies to empower communities.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-boxes text-blue-600 dark:text-blue-500"
            ><path
              d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"
            ></path><path d="m7 16.5-4.74-2.85"></path><path d="m7 16.5 5-3"
            ></path><path d="M7 16.5v5.17"></path><path
              d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"
            ></path><path d="m17 16.5-5-3"></path><path d="m17 16.5 4.74-2.85"
            ></path><path d="M17 16.5v5.17"></path><path
              d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"
            ></path><path d="M12 8 7.26 5.15"></path><path d="m12 8 4.74-2.85"
            ></path><path d="M12 13.5V8"></path></svg
          >
        </div>
        <h3 class="mb-2 text-3xl font-bold text-blue-600 dark:text-blue-500">
          Connect
        </h3>
        <p
          class="text-lg md:text-xl sm:text-xl leading-relaxed dark:text-gray-400">
          With people through the community and organizations to grow your
          network.
        </p>
      </div>
    </div>
  </div>
</section>
