---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import AboutSection from "../components/About/About.astro";
import IgmaKadima from "../components/About/IgmaKadima.astro";
import Mission from "../components/About/Mission.astro";
import Chapters from "../components/About/Chapters.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"GDSC UEC - About"} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-gray-700">
		<Header />
		<main>
			<AboutSection />
			<IgmaKadima />
			<Mission />
			<Chapters />
			<Footer />
		</main>
	</body>
</html>