---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import Hero from "../components/Landing/Hero.astro";
import About from "../components/Landing/About.astro";
import Events from "../components/Landing/Events.astro";
import Partners from "../components/Landing/Partners.astro";
import Collaboration from "../components/Landing/Collaboration.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Home"} description={SITE_DESCRIPTION} />

  </head>
  <body class="text-gray-700 antialiased">
    <Header />
    <main transition:animate="slide">
      <Hero />
      <About />
      <Events />
      <Partners />
      <Collaboration />
      <Footer />
    </main>
  </body>
</html>

<!-- Dark Mode Script -->
<script>
  var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
  var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
  var themeToggleBtn = document.getElementById('theme-toggle');

  // Ensure the elements exist before trying to manipulate them
  if (themeToggleDarkIcon && themeToggleLightIcon && themeToggleBtn) {
    // Change the icons inside the button based on previous settings
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      themeToggleLightIcon.classList.remove('hidden');
    } else {
      themeToggleDarkIcon.classList.remove('hidden');
    }

    themeToggleBtn.addEventListener('click', function () {
      // toggle icons inside button
      themeToggleDarkIcon?.classList.toggle('hidden');
      themeToggleLightIcon?.classList.toggle('hidden');

      // toggle theme in local storage
      if (localStorage.theme === 'light') {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
      }
    });
  }
</script>

