---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Collaboration from "../components/Landing/Collaboration.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Landing/Hero.astro";
import Partners from "../components/Landing/Partners.astro";
import Previous from "../components/Landing/PreviousEvents.astro";
import About from "../components/Landing/About.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"GDSC UEC - Home"} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-gray-700">
		<Header />
		<main>
			<Hero />
			<About />			
			<Previous />
			<Partners />
			<Collaboration />
			<Footer />
		</main>
	</body>
</html>