---
import { Image } from "astro:assets";
import AccredCertificate from "../../../assets/projects/AccredCertificate.webp";
---

<div
    class="relative bg-white border rounded-xl p-2 border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
    <div class="p-2 flex justify-center">
        <a href="https://github.com/GDSC-UECAL/Accred-E-Certificate-Generator">
            <Image
                src={AccredCertificate}
                alt="OrganizationWebsite"
                loading="eager"
                class="w-auto h-auto rounded-md"
            />
        </a>
    </div>

    <div class="px-4 pb-3 py-2">
        <div>
            <a
                href="https://github.com/GDSC-UECAL/Accred-E-Certificate-Generator">
                <h5
                    class="text-xl py-2 font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white">
                    Accred E-Certificate Generator
                </h5>
            </a>

            <p class="antialiased text-gray-600 dark:text-gray-400 text-sm">
                Specialized E-Certificate generator for events, utilizing
                Next.js and Firebase, streamlines certificate issuance,
                improving event management.
            </p>
        </div>
    </div>
</div>
