---
import { Image } from "astro:assets";
import OrganizationWebsite from "../../../assets/projects/OrganizationWebsite.webp";
---

<div
    class="relative bg-white border rounded-xl p-2 border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
    <div class="p-2 flex justify-center">
        <a href="https://github.com/GDSC-UECAL/gdsc-uecal-website">
            <Image
                src={OrganizationWebsite}
                alt="OrganizationWebsite"
                loading="eager"
                class="w-auto h-auto rounded-md"
            />

            <!-- <img
                class="rounded-md"
                src="https://tailwindflex.com/public/images/thumbnails/coming-soon-page/thumb_u.min.webp"
                loading="lazy"
            /> -->
        </a>
    </div>

    <div class="px-4 pb-3 py-2">
        <div>
            <a href="https://github.com/GDSC-UECAL/gdsc-uecal-website">
                <h5
                    class="text-xl py-2 font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white">
                    GDSC UEC - Campus Organization Website
                </h5>
            </a>

            <p
                class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all">
                An organization website student-led community that provides a
                platform for college students to learn, collaborate, and explore
                Google developer technologies.
            </p>
        </div>
    </div>
</div>
