---
import { Image } from "astro:assets";
import RedOJTFinder from "../../../assets/projects/OJTFinder.webp";
---

<div
    class="relative bg-white border rounded-xl p-2 border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
    <div class="p-2 flex justify-center">
        <a href="https://github.com/redpangilinan/gdsc-ojt-finder">
            <Image
                src={RedOJTFinder}
                alt="RedOJTFinder"
                loading="eager"
                class="w-auto h-auto rounded-md"
            />
        </a>
    </div>

    <div class="px-4 pb-3 py-2">
        <div>
            <a href="https://github.com/redpangilinan/gdsc-ojt-finder">
                <h5
                    class="text-xl py-2 font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white">
                    On-the Job Training / Internship Finder
                </h5>
            </a>

            <p class="antialiased text-gray-600 dark:text-gray-400 text-sm">
                Streamlined platform for easy internship searches. Explore a
                wide range of internships customized to your preferences for a
                fulfilling experience.
            </p>
        </div>
    </div>
</div>
