---
import { Image } from "astro:assets";
import Logo from "../assets/gdsclogo.svg";
const today = new Date();
---

<script>
  // Get the current year
  const currentYear: number = new Date().getFullYear();

  // Get the upcoming year
  const nextYear: number = currentYear + 1;

  // Update the span elements with the respective years
  document.getElementById("currentYear")!.textContent = currentYear.toString();
  document.getElementById("nextYear")!.textContent = nextYear.toString();
</script>

<footer class="bg-white dark:bg-gray-900 px-12 py-16">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-7">
      <div class="md:max-w-md lg:col-span-3">
        <div class="grid">
          <a href="/">
            <Image src={Logo} alt="GDSC Logo" class="w-14 h-auto" />
          </a>
          <span
            class="text-xl font-bold tracking-wide text-gray-800 dark:text-white"
            >Google Developer Student Clubs</span
          >
          <span class="tracking-wide text-gray-700 dark:text-gray-100"
            >University of the East - Caloocan</span
          >
        </div>

        <div class="mt-4 lg:max-w-sm">
          <p class="text-sm text-gray-700 dark:text-gray-300">
            Together, we discover future.
          </p>

          <p class="mt-4 text-sm text-gray-700 dark:text-gray-300">
            Located inside the University.<br /> 105 Samson Road, Caloocan City,
            1408. Metro Manila, PHI
          </p>

          <p class="mt-4 text-sm text-gray-700 dark:text-gray-300">
            Need Help? Contact Us:
            <a href="mailto:gdsc.ue@gmail.com" class="hover:underline">
              gdsc.ue@gmail.com</a
            >
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4 justify-end">
        <!-- Home -->
        <div>
          <p
            class="font-semibold tracking-wide text-gray-800 dark:text-gray-300">
            Home
          </p>
          <ul class="mt-2 space-y-2 text-gray-700 dark:text-gray-400">
            <li>
              <a
                href="#home-welcome"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Welcome</a
              >
            </li>
            <li>
              <a
                href="#home-events"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Events</a
              >
            </li>
            <li>
              <a
                href="#home-partners"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Partners and Sponsors</a
              >
            </li>

            <li>
              <a
                href="#home-email"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Email us</a
              >
            </li>
          </ul>
        </div>

        <!-- About Us -->
        <div>
          <p class="font-semibold tracking-wide text-gray-800 dark:text-white">
            About us
          </p>
          <ul class="mt-2 space-y-2 text-gray-700 dark:text-gray-400">
            <li>
              <a
                href="about#about-mission"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Mission</a
              >
            </li>
            <li>
              <a
                href="about#about-vision"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Vision</a
              >
            </li>
            <li>
              <a
                href="about#about-igmakadima"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Igma Kadima</a
              >
            </li>

            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Other GDSC Chapters</a
              >
            </li>
          </ul>
        </div>

        <!-- Events  -->
        <div>
          <p
            class="font-semibold tracking-wide text-gray-800 dark:text-gray-100">
            Events
          </p>
          <ul class="mt-2 space-y-2 text-gray-700 dark:text-gray-400">
            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Featured Event</a
              >
            </li>

            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >All Events</a
              >
            </li>
          </ul>
        </div>

        <!-- Team  -->
        <div>
          <p
            class="font-semibold tracking-wide text-gray-800 dark:text-gray-100">
            Team
          </p>
          <ul class="mt-2 space-y-2 text-gray-700 dark:text-gray-400">
            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Executive Board</a
              >
            </li>
            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Operations Dept</a
              >
            </li>

            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Technology Dept</a
              >
            </li>

            <li>
              <a
                href="about#about-gdscchapters"
                class="transition-colors duration-300 hover:text-purple-950 dark:hover:text-purple-500"
                >Creatives Dept</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <p class="text-sm text-gray-600 sm:text-start dark:text-gray-400">
        Google Developer Student Clubs - University of the East Caloocan © All
        rights reserved. {today.getFullYear()}
      </p>

      <div class="flex mt-4 sm:justify-center items-center sm:mt-0 gap-4">
        <a
          href="https://facebook.com/gdscuecaloocan/"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <title>Facebook</title>
          <svg
            class="w-5 h-5 transition-colors duration-300 hover:text-purple-700 dark:hover:text-purple-500"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
            ><path
              d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z"
            ></path></svg
          >
        </a>

        <a
          href="https://www.linkedin.com/company/gdsc-ue/"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <title>Linkedin</title>
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-5 rounded-sm transition-colors duration-300 hover:text-purple-700 dark:hover:text-purple-500">
            <path
              d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z"
            ></path>
          </svg>
        </a>

        <a
          href="https://github.com/GDSC-UECAL"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <title>Github</title>
          <svg
            class="w-5 h-5 transition-colors duration-300 hover:text-purple-700 dark:hover:text-purple-500"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
            ><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
        </a>

        <a
          href="https://gdsc.community.dev/university-of-the-east-caloocan-campus/"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <title>Bevy</title>
          <svg
            role="img"
            class="h-5 w-5 rounded-sm transition-colors duration-300 hover:text-purple-700 dark:hover:text-purple-500"
            viewBox="0 0 41 42"
            fill="currentColor">
            <path
              d="M21.9712 32.7302H12.4992C11.968 32.7302 11.5372 32.2994 11.5372 31.7681V24.3795C11.5372 23.9835 11.7798 23.6278 12.1487 23.4835L16.0594 21.9531C16.6688 21.7148 16.6688 20.8525 16.0594 20.6141L12.1487 19.0838C11.7798 18.9395 11.5372 18.5839 11.5372 18.1879V10.7992C11.5372 10.2677 11.968 9.83717 12.4992 9.83717H21.7311C25.7125 9.83717 28.1493 12.2394 28.1493 15.672C28.1493 17.8701 27.032 19.5093 25.5733 20.3621C25.1589 20.6043 25.1731 21.1945 25.5953 21.4228C27.3299 22.3602 28.5954 24.3811 28.5954 26.5521C28.5954 30.2247 26.1588 32.7302 21.9712 32.7302ZM20.0663 1.28369C9.02054 1.28369 0.0664062 10.2378 0.0664062 21.2836C0.0664062 32.3293 9.02054 41.2837 20.0663 41.2837C31.112 41.2837 40.0664 32.3293 40.0664 21.2836C40.0664 10.2378 31.112 1.28369 20.0663 1.28369Z"
            ></path>
          </svg>
        </a>

        <a
          href="https://discord.gg/EngeJQSZ59"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <title>Discord</title>
          <svg
            role="img"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-5 w-5 rounded-sm transition-colors duration-300 hover:text-purple-700 dark:hover:text-purple-500">
            <path
              d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"
            ></path></svg
          >
        </a>

        <!-- Dark Mode Button -->
        <button
          id="theme-toggle"
          type="button"
          class="text-gray-500 dark:text-gray-400 rounded-lg text-sm">
          <svg
            id="theme-toggle-dark-icon"
            class="hidden w-5 h-5 hover:text-purple-700 dark:hover:text-purple-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            ></path></svg
          >
          <svg
            id="theme-toggle-light-icon"
            class="hidden w-5 h-5 hover:text-purple-700 dark:hover:text-purple-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</footer>
