---
import { Image } from "astro:assets";
import Logo from "../assets/gdsclogo.svg";
const today = new Date();
---

<footer>
	<div
		class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
	>
		<div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-7">
			<div class="md:max-w-md lg:col-span-3">
				<div class="grid">
					<a href="/">
						<Image src={Logo} alt="GDSC Logo" class="w-14 h-auto" />
					</a>
					<span class="text-xl font-bold tracking-wide"
						>Google Developer Student Clubs</span
					>
					<span class="tracking-wide">University of the East - Caloocan</span>
				</div>

				<div class="mt-4 lg:max-w-sm">
					<p class="text-sm">Together, we discover future.</p>
					<p class="mt-4 text-sm">
						Located inside the University.<br /> 105 Samson Road, Caloocan City,
						1408. Metro Manila, PHI
					</p>
				</div>
			</div>
			<div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4 justify-end">
				<div>
					<p class="font-semibold tracking-wide">About us</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="about#about-mission"
								class="transition-colors duration-300 hover:text-purple-950"
								>Mission</a
							>
						</li>
						<li>
							<a
								href="about#about-vision"
								class="transition-colors duration-300 hover:text-purple-950"
								>Vision</a
							>
						</li>
						<li>
							<a
								href="about#about-igmakadima"
								class="transition-colors duration-300 hover:text-purple-950"
								>Igma Kadima</a
							>
						</li>						

						<li>
							<a
								href="about#about-gdscchapters"
								class="transition-colors duration-300 hover:text-purple-950"
								>Other GDSC Chapters</a
							>
						</li>										
					</ul>
				</div>
				<div>
					<p class="font-semibold tracking-wide">Contact us</p>
					<ul class="mt-2 space-y-2">
						<li>
							<a
								href="mailto:gdsc.ue@gmail.com"
								class="transition-colors duration-300 hover:underline"
								>gdsc.ue@gmail.com</a
							>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<hr />
		<div class="flex flex-col justify-between pt-5 pb-10 sm:flex-row">
			<p class="text-sm">
				Google Developer Student Clubs - University of the East Caloocan © All
				rights reserved. {today.getFullYear()}
			</p>
			<div class="flex items-center mt-4 space-x-4 sm:mt-0">
				<a
					href="https://www.facebook.com/gdscuecaloocan"
					target="_blank"
					class="transition-colors duration-300 hover:text-purple-950"
				>
					<svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
						<path
							d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z"
						></path>
					</svg>
				</a>
				<a
					href="https://www.linkedin.com/company/google-developer-student-clubs-ue-caloocan/"
					target="_blank"
					class="transition-colors duration-300 hover:text-purple-950"
				>
					<svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
						<path
							d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z"
						></path>
					</svg>
				</a>
				<a
					href="https://github.com/GDSC-UECAL "
					target="_blank"
					class="transition-colors duration-300 hover:text-purple-950"
				>
					<svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
						<path d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z"></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>
