---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/gdsclogo.svg";
import Button from "./Button.astro";
---

<nav class="bg-purple-950/60 backdrop-filter backdrop-blur-lg bg-opacity-40 shadow-lg shadow-gray-700/40 z-50 fixed left-0 right-0 max-w-7xl top-0 lg:top-8 mx-auto lg:rounded-full" id="navbar">
	<div class="flex flex-wrap items-center justify-between px-12 lg:px-20 py-3">
		<a href="/" class="flex-shrink-0 flex items-center space-x-3 rtl:space-x-reverse">
			<Image src={Logo} alt="GDSC Logo" class="w-14 h-auto" /> 
		</a>
		
		<button id="menu-button" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-md rounded-lg md:hidden" aria-controls="navbar-default" aria-expanded="false">
		  <span class="sr-only">Open main menu</span>
		  <svg class="w-6 h-6 text-white" aria-hidden="true" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			</svg>		
	  </button>

	  <div class="hidden w-full md:block md:w-auto transition-all duration-500 ease-in-out" id="navbar-default">
			<ul class="font-medium flex flex-col items-center gap-y-5 p-4 md:p-0 mt-4 text-dark rounded-lg md:flex-row md:space-x-8 md:mt-0 text-center">
				<HeaderLink href="/"
				class="block text-dark rounded md:bg-transparent md:p-0">
					Home</HeaderLink>
				<HeaderLink href="/about" class="block text-dark rounded md:bg-transparent md:p-0">
					About</HeaderLink>
				<HeaderLink href="/events" class="block text-dark rounded md:bg-transparent md:p-0">
					Events</HeaderLink>
				<Button asLink={true} href="/about" class="block">Become a member</Button>
			</ul>
	  </div>
	</div>
</nav>


<script>
	function toggleMobileMenu() {
    const mobileMenu = document.querySelector('#navbar-default');

		if(mobileMenu?.classList.contains('hidden')){
			mobileMenu?.classList.remove('hidden');
		} else {
			mobileMenu?.classList.add('hidden');
		}
  }

	const menuButton = document.querySelector('#menu-button');
	menuButton!.addEventListener("click", toggleMobileMenu);
</script>
