---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
const linkClasses = `${className}`;

// Determine active state for each link state
const activeStyles = isActive
  ? "font-extrabold text-gray-800 hover:text-gray-500"
  : "font-extrabold text-gray-500 hover:text-gray-600";
---

<a href={href} class:list={`${linkClasses} ${activeStyles}`} {...props}>
  <slot />
</a>
