---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
const linkClasses = `${className}`;

// ? "font-medium text-white hover:text-gray-100"
// : "font-medium text-gray-300 hover:text-gray-100";

// Determine active state for each link state
const activeStyles = isActive
	? "font-medium text-gray-300 hover:text-gray-100"
	: "font-medium text-gray-400 hover:text-gray-100";
---

<a href={href} class:list={`${linkClasses} ${activeStyles}`} {...props}>
	<slot />
</a>
