---
export type Props = astroHTML.JSX.InputHTMLAttributes & {
	label: string;
};

const { label, ...props } = Astro.props as Props;
---

<div class="flex flex-col relative group">
	<input
		{...props}
		class="border border-gray-400 rounded-md px-4 py-3 placeholder:text-transparent input"
		placeholder="a"
	/>
	<label
		for={props.name}
		class="font-[400] absolute top-1/2 -translate-y-1/2 left-4 text-gray-400 group-focus-within:top-0 transition-all px-1 -mx-1 group-focus-within:text-sm label pointer-events-none"
		>{label}
	</label>
</div>

<style>
	.input:focus ~ .label {
		font-size: 0.75rem;
		background-color: white;
		@apply text-gray-500;
	}

	.input:not(:placeholder-shown) + .label {
		top: 0;
		font-size: 0.75rem;
		background-color: white;
	}
</style>
