---
export type Props = astroHTML.JSX.InputHTMLAttributes & {
	label: string;
};

const { label, placeholder, ...props } = Astro.props as Props;
---

<div class="flex flex-col relative group">
	<label for={props.name} class="block mb-2">{label}</label>
	<input
		{...props}
		class="shadow appearance-none border rounded w-full p-3 leading-tight focus:outline-none focus:shadow-outline"
		placeholder={placeholder}
	/>
</div>
