---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import AllEvents from "../../components/Events/AllEvents.astro";
import FeaturedEvent from "../../components/Events/FeaturedEvent.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = (await getCollection("events")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  const pages = Math.ceil(posts.slice(1).length / 6);

  const paths = [];
  for (let i = 1; i <= pages; i++) {
    paths.push({ params: { page: i.toString() } });
  }
  return paths;
}

const { page } = Astro.params;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Events"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<FeaturedEvent />
      <AllEvents page={page} />
		</main>
		<Footer />
	</body>
</html>