---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import AllEvents from "../../components/Events/AllEvents.astro";
import FeaturedEvent from "../../components/Events/FeaturedEvent.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<FeaturedEvent />
			<AllEvents />
		</main>
		<Footer />
	</body>
</html>
