---
import BaseHead from "../../components/BaseHead.astro";
import HeaderDark from "../../components/HeaderDark.astro";
import Footer from "../../components/Footer.astro";
import AllEvents from "../../components/Events/AllEvents.astro";
import FeaturedEvent from "../../components/Events/FeaturedEvent.astro";
import Stats from "../../components/Events/Stats.astro";
import { SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Events"} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <HeaderDark />
    <main>
      <FeaturedEvent />
      <Stats />
      <AllEvents />
    </main>
    <Footer />
  </body>
</html>
